.Dictionary h1 {
  text-align: center;
  color: rgb(149, 2, 2);
  font-size: 20px;

  margin-bottom: 20px;
  margin-top: 10px;
}

.Dictionary section {
  background: white;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
}

.Dictionary input {
  border-radius: 20px;
  padding: 6px 10px;
  border: 1px solid #ddd;
}

.Dictionary .search-form {
  text-align: center;
}

.Dictionary .search-field {
  margin-right: 5px;
  width: 80%;
}

@media (max-width: 790px) {
  .Dictionary h1 {
    font-size: 14px;
  }
}
