.Dictionary section {
  background: white;
  padding: 30px;
  border-radius: 3px;
  margin-top: 20px;
}

.Dictionary input {
  border-radius: 20px;
  padding: 6px 10px;
  border: 1px solid #ddd;
}

.search-field {
  margin-right: 5px;
  width: 90%;
}
