.Dictionary section {
  background: rgba(255, 255, 255, 0.749);
  padding: 10px 20px;
  border-radius: 8px;
  margin-top: 20px;
}

.Dictionary input {
  border-radius: 20px;
  padding: 6px 10px;
  border: 1px solid #ddd;
}

.Dictionary .search-form {
  text-align: center;
}

.Dictionary .search-field {
  margin-right: 5px;
  width: 80%;
}
